* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.consultant-card:hover,
.user-card:hover,
.appointment-card:hover {
  background-color: burlywood;
  cursor: pointer;
}
.chat-message {
  margin-bottom: 10px;
}
.chat-scroll {
  overflow-y: auto;
  max-height: 300px;
}
